<p id="notice"><%= notice %></p>

<h1>Portfolios</h1>

<% @portfolios.each do |portfolio| %>
<h2><%= link_to @portfolio.name, portfolio_path(@portfolio) %></h2>
<% end %>

<%= link_to 'New Portfolio', new_portfolio_path %>
