<div class="col-xs-6">
  <h2>Code</h2>
  <h3><%= link_to 'Projects', projects_path %></h3>
</div>
<div class="col-xs-6">
<h2>Finance</h2>
<h3><%= link_to 'Portfolios', portfolios_path %></h3>
<h3><%= link_to 'Stocks', stocks_path %></h3>
<h3><%= link_to 'Exchanges', exchanges_path %></h3>
</div>
